<h2>Work History</h2>
<h3 class="h4"> // Education </h3>
<div class="timeline-container">
    <div class="timeline-dot"></div>
    <div class="timeline-content">
        <h4 class="h5">Bachelor of Mathematics Applied to Computer Science</h4>
        <p>Christian Archuleta holds a Bachelor of Mathematics Applied to Computer Science from Texas A&M University,
            College Station, TX, with a minor in Computer Science / Computer Engineering and a GPA of 3.8.</p>
    </div>
</div>
<div class="timeline-container">
    <div class="timeline-dot"></div>
    <div class="timeline-content">
        <h4 class="h5">Omnichannel Intern, Mobile App Development Team</h4>
        <p>Christian Archuleta completed an internship at JCPenney Corporate, Plano, TX, as part of the
            Omnichannel Mobile App Development Team from May 2018 to August 2018. During this time, he
            contributed to the development of web and mobile applications, designed and implemented RESTful web
            services, and developed Android app features focused on in-store customer tracking and personalized
            product recommendations.</p>
    </div>
</div>
<h3 class="h4 mt-3">
    // Career and Projects
</h3>
<div class="timeline-container">
    <div class="timeline-dot"></div>
    <div class="timeline-content">
        <h4 class="h5">// Senior Consultant – Senior Software Engineer at CGI Federal </h4>

        <div class="timeline-container">
            <div class="timeline-dot"></div>
            <div class="timeline-content">
                <h5>PECOS 2.0</h5>
                <p>At CGI Federal, Christian Archuleta has been a pivotal figure in the development and optimization of
                    web
                    applications from June 2020 to the present. He led the re-architecture of a monolithic Angular
                    application
                    into 16 micro-frontends and 9 Angular libraries, significantly improving scalability and
                    maintainability. He
                    enhanced application performance by 60%, reduced memory usage by over 300%, and optimized load times
                    by more
                    than 200%. Additionally, he developed a comprehensive PII protection framework, implemented advanced
                    search
                    functionalities using Elasticsearch, and created robust user input management libraries, showcasing
                    his
                    expertise in delivering high-quality, secure, and efficient software solutions.
                </p>
                <p>See below for more details<br> <a
                        href="https://www.cms.gov/medicare/enrollment-renewal/providers-suppliers/provider-enrollment-chain-ownership-system-pecos/introducing-pecos-20">https://www.cms.gov/medicare/enrollment-renewal/providers-suppliers/provider-enrollment-chain-ownership-system-pecos/introducing-pecos-20</a>
                </p>
                <p>To see a real demo from our media team, see the link below.<br> <a
                        href="https://www.youtube.com/watch?v=eUGgzpf5A4k">https://www.youtube.com/watch?v=eUGgzpf5A4k</a>
                </p>
                <p class="fw-bold">Project Started June 2020 as Jr. Front End Engineer, Project Completed September 2024</p>
            </div>
        </div>

        <div class="timeline-container">
            <div class="timeline-dot"></div>
            <div class="timeline-content">
                <h5>Momentum Enterprise Suite</h5>
                <p>As a Senior Angular Developer with CGI's Momentum Suite, Christian Archuleta plays a critical role in
                    developing and enhancing the front-end components of this comprehensive suite of financial and
                    acquisition management solutions, building high-performance, scalable components ensuring a seamless
                    user experience helping to meet the evolving needs of government and commercial clients.
                </p>
                <p>See below for more details<br> <a
                        href="https://www.cgi.com/us/en-us/federal/momentum-enterprise-suite">https://www.cgi.com/us/en-us/federal/momentum-enterprise-suite</a>
                </p>
                <p class="fw-bold">Joined Project ~September 2024</p>
            </div>
        </div>


    </div>
</div>