<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <div class="d-flex align-items-center">
                <img src="assets/me_square.jpeg" alt="Logo" width="64" height="64"
                    class="d-inline-block align-text-top rounded">
                <span aria-level="1" class="ms-3">
                    Christian Archuleta
                </span>
            </div>
        </a>
        <div >
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link mx-3" routerLink="/">// Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-3" routerLink="/work">// Work</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link mx-3" routerLink="/about">// About</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link mx-3" routerLink="/contact">// Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>