<h3 class="h5">
    Some cubes?
</h3>
<p>I had originally planned this website to have some kind of an interactive background. I time-boxed this background
    creation to less than 30 minutes. Figured a bunch of interactive cubes using three.js was kind of neat. Ended up
    going with the background we have today, just to keep it simple.</p>
<p>Hover your mouse over any cube to accelerate the rate of motion.</p>
<p>Contact me if you find the winning cube! ;)</p>
<p class="visually-hidden">Surprise, there is no winning cube.</p>
<app-background></app-background>