<h2>
    Christian Archuleta
</h2>
<h3 class="h5">
    Software Engineer, Full Stack - Front End Focus
</h3>
<hr>
<h4 class="mt-5"> // Welcome to my website</h4>
<p> Hello! I'm Christian Archuleta, a senior software engineer specializing in full-stack development with a focus on
    frontend technologies. With a passion for crafting seamless user experiences and a strong background in software
    engineering, I aim to deliver high-quality, scalable solutions. </p>
<h4 class="mt-5"> // About Me </h4>
<p>
    With years of experience in the tech industry, I've had the privilege of working on a variety of projects, ranging
    from small startups to large-scale enterprise applications. My expertise spans across various programming languages
    and frameworks, including JavaScript, TypeScript, Java, Angular, React, Spring Boot, Single-spa, MFE's and more.
</p>
<h4 class="mt-5"> // My Work </h4>
<p>
    I take pride in my work and strive to stay updated with the latest industry trends and best practices. Whether it's
    developing responsive web applications, designing intuitive user interfaces, or optimizing backend systems, I
    approach each project with dedication and a commitment to excellence.
</p>
<h4 class="mt-5"> // Get in Touch </h4>
<p>
    I'm always open to new opportunities and collaborations. If you'd like to discuss a project, ask a question, or
    simply connect, feel free to reach out. You can contact me through the form on the Contact page, or connect with me
    on linkedin.
</p>

<p class="mt-5">
    Want to see some <a routerLink="/neat-things">neat things</a>?
</p>

<!-- <hr>
<app-dino-game></app-dino-game> -->